name: "CI"
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-ci
  cancel-in-progress: true

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      python_lint_check_enabled: false

  unit-test:
    name: Unit Test (Swift ${{ matrix.swift.version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        swift:
          - version: "6.2"
            image: swift:6.2-rhel-ubi9

    container:
      image: ${{ matrix.swift.image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Resolve Swift dependencies
        run: swift package resolve

      - name: Build package and tests
        run: swift build --build-tests -Xswiftc -warnings-as-errors --enable-code-coverage

      - name: Run Unit Tests
        run: swift test --parallel --enable-code-coverage

      - name: Merge code coverage
        run: |
          llvm-cov export -format "lcov" \
            .build/debug/swift-w3c-trace-contextPackageTests.xctest \
            -ignore-filename-regex="\/Tests\/" \
            -ignore-filename-regex="\/.build\/" \
            -instr-profile=./.build/debug/codecov/default.profdata \
          > info.lcov

      - name: Upload code coverage report to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          files: ./info.lcov
